.pop-up-image__btn-close {
  width: 36px;
  height: 36px;
  position: absolute;
  top: -36px;
  right: -38px;
  margin-left: auto;
  padding: 0;
  outline: none;
  background-image: url(../../../images/close_icon_form.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 170%;
  transition: opacity .42s ease-in-out;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pop-up-image__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .pop-up-image__btn-close {
    width: 30px;
    height: 30px;
    top: -31px;
    right: -32px;
  }
}